@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Avcol PE Schedule</h1>
</div>

<div>
    <a class="ScheduleBtn" asp-action="Index" asp-controller="Schedules">
        <button>View the schedule</button>
    </a>
</div>

<style>
    .ScheduleBtn {
        padding-top:30px;
        text-decoration: none;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>